<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Earnit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.balthasardeweert.earnyourscreentime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>earnyourscreentime</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>Earnit</string>
	<key>FacebookSKAdNetworkReportEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Earnit uses Health data to record activity-related progress when needed to calculate your earned screen time.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Earnit may update Health data to keep your activity-related progress synchronized with your earned screen time.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your permission allows us to link app activity with advertising data to measure campaign results and improve future ads.</string>
	<key>PrivacyPolicyURL</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
	</array>
	<key>RevenueCatAPIKey</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>TermsOfUseURL</key>
	<string>$(TERMS_OF_USE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
